@font-face {
  font-family: 'Geometria Bold';
  src: url("/fonts/Geometria Bold/Geometria-Bold.eot");
  src: url("/fonts/Geometria Bold/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Geometria Bold/Geometria-Bold.woff") format("woff"), url("/fonts/Geometria Bold/Geometria-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria Regular';
  src: url("/fonts/Geometria Regular/Geometria.eot");
  src: url("/fonts/Geometria Regular/Geometria.eot?#iefix") format("embedded-opentype"), url("/fonts/Geometria Regular/Geometria.woff") format("woff"), url("/fonts/Geometria Regular/Geometria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
  margin: 0;
}

body {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin: 0;
  background-image: url("/img/bg4.png");
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 1440px) {
  #main-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 850px;
    height: 880px;
    margin: auto auto;
    background: #000000;
    border: 3px solid #8FF0FF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 20px rgba(0, 66, 237, 0.86);
            box-shadow: 0 0 20px rgba(0, 66, 237, 0.86);
  }
  #start-label {
    width: 800px;
    font-family: Geometria Bold;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.12em;
    color: #E9FCFF;
    text-align: center;
    text-shadow: 1px 1px 2px #0042ED, 0px 0px 10px #0042ED;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 47px;
  }
  #start-text {
    width: 697px;
    height: 175px;
    font-family: Geometria Regular;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: white;
    margin: 0 auto;
    margin-top: 34px;
    margin-bottom: 55px;
  }
  #start-btn {
    color: white;
    background-color: white;
    width: 370px;
    height: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    cursor: pointer;
  }
  #start-btn::after {
    background-image: url("/img/Button-pixels.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 70px;
    height: 65px;
    content: "";
    position: absolute;
    top: -50px;
    right: -30px;
  }
  .start-btn_text {
    margin: auto;
    font-family: Geometria Regular;
    font-size: 23px;
    line-height: 29px;
    color: #06001F;
  }
  #question {
    width: 730px;
    height: 94px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: Geometria Bold;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #E9FCFF;
  }
  #image img {
    width: 550px;
  }
  .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-align: center;
    width: 600px;
    cursor: pointer;
    height: 70px;
    background: #000000;
    border: 3px solid #8FF0FF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0 0 15px rgba(0, 66, 237, 0.86);
            box-shadow: 0 0 15px rgba(0, 66, 237, 0.86);
  }
  .btn_text {
    margin: auto;
    font-family: Geometria Regular;
    font-size: 20px;
  }
  .btn:hover {
    border: 3px solid #FFDD9B;
    -webkit-box-shadow: 0 0 15px rgba(193, 128, 0, 0.86);
            box-shadow: 0 0 15px rgba(193, 128, 0, 0.86);
  }
  #ending-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ending-form-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 82px;
    width: 849px;
    background-color: #000;
    border: 3px solid #8FF0FF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-box-shadow: 0 0 20px rgba(0, 66, 237, 0.86);
            box-shadow: 0 0 20px rgba(0, 66, 237, 0.86);
  }
  .ending-form-top_text {
    color: #ffffff;
    margin: auto;
    font-family: Geometria Regular;
    font-size: 26px;
    line-height: 33px;
  }
  .ending-form-wrapper {
    position: relative;
  }
  .ending-form-result-wrapper {
    padding-top: 56px;
    padding-left: 78px;
  }
  .ending-form-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 408px;
    width: 849px;
    background-color: #000;
    border: 3px solid #8FF0FF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 66, 237, 0.86);
            box-shadow: 0 15px 20px rgba(0, 66, 237, 0.86);
    margin: 0 auto;
    margin-top: 390px;
  }
  #ending-form-result {
    width: 920px;
    height: 390px;
    background-image: url("/img/1e.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    left: -34px;
    z-index: -1;
  }
  #ending-form-result_role {
    font-family: Geometria Bold;
    font-size: 38px;
    line-height: 38px;
    color: #E9FCFF;
    width: 328px;
  }
  #ending-form-result_description {
    width: 391px;
    height: 133px;
    font-family: Geometria Regular;
    font-size: 22px;
    line-height: 120%;
    color: #FFFFFF;
    margin-top: 84px;
  }
  .share-text {
    width: 408px;
    height: 21px;
    margin-top: 21px;
    text-align: center;
    font-family: Geometria Regular;
    font-size: 19px;
    line-height: 21px;
    color: #5D5D5D;
  }
}

@media (min-width: 640px) and (max-width: 1439px) {
  #main-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 595px;
    height: 550px;
    margin: auto auto;
    background: #000000;
    border: 3px solid #8FF0FF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 20px rgba(0, 66, 237, 0.86);
            box-shadow: 0 0 20px rgba(0, 66, 237, 0.86);
  }
  #start-label {
    width: 550px;
    height: 50px;
    font-family: Geometria Bold;
    font-size: 35px;
    line-height: 50px;
    color: #E9FCFF;
    text-align: center;
    text-shadow: 1px 1px 2px #0042ED, 0px 0px 10px #0042ED;
    margin: 10px auto;
  }
  #start-text {
    width: 580px;
    height: 130px;
    font-family: Geometria Regular;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: white;
    margin: 0 auto;
  }
  #start-btn {
    color: white;
    background-color: white;
    width: 330px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    cursor: pointer;
  }
  #start-btn::after {
    background-image: url("/img/Button-pixels.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 70px;
    height: 65px;
    content: "";
    position: absolute;
    top: -50px;
    right: -30px;
  }
  .start-btn_text {
    margin: auto;
    font-family: Geometria Regular;
    font-size: 20px;
    line-height: 29px;
    color: #06001F;
    text-align: center;
  }
  #question {
    width: 560px;
    height: 94px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Geometria Bold;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #E9FCFF;
  }
  #image img {
    width: 440px;
    margin-bottom: 10px;
  }
  .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-align: center;
    width: 504px;
    cursor: pointer;
    height: 70px;
    background: #000000;
    border: 3px solid #8FF0FF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 15px rgba(0, 66, 237, 0.86);
            box-shadow: 0 0 15px rgba(0, 66, 237, 0.86);
  }
  .btn_text {
    margin: auto;
    font-family: Geometria Regular;
    font-size: 15px;
  }
  .btn:hover {
    border: 3px solid #FFDD9B;
    -webkit-box-shadow: 0 0 15px rgba(193, 128, 0, 0.86);
            box-shadow: 0 0 15px rgba(193, 128, 0, 0.86);
  }
}

@media (max-width: 639px) {
  #main-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 307px;
    height: 516px;
    margin: auto auto;
    background: #000000;
    border: 3px solid #8FF0FF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 20px rgba(0, 66, 237, 0.86);
            box-shadow: 0 0 20px rgba(0, 66, 237, 0.86);
  }
  #start-label {
    width: 300px;
    height: 35px;
    font-family: Geometria Bold;
    font-size: 22px;
    line-height: 35px;
    color: #E9FCFF;
    text-align: center;
    text-shadow: 1px 1px 2px #0042ED, 0px 0px 10px #0042ED;
    margin: 10px auto;
  }
  #start-text {
    width: 280px;
    height: 130px;
    font-family: Geometria Regular;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: white;
    margin: 0 auto;
  }
  #start-btn {
    color: white;
    background-color: white;
    width: 250px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    cursor: pointer;
    margin-top: 30px;
  }
  #start-btn::after {
    background-image: url("/img/Button-pixels.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 70px;
    height: 65px;
    content: "";
    position: absolute;
    top: -50px;
    right: -25px;
  }
  .start-btn_text {
    margin: auto;
    font-family: Geometria Regular;
    font-size: 20px;
    line-height: 29px;
    color: #06001F;
    text-align: center;
  }
  #question {
    width: 280px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Geometria Bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #E9FCFF;
  }
  #image img {
    width: 274px;
    margin-bottom: 20px;
  }
  .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-align: center;
    width: 282px;
    cursor: pointer;
    height: 70px;
    background: #000000;
    border: 3px solid #8FF0FF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 15px rgba(0, 66, 237, 0.86);
            box-shadow: 0 0 15px rgba(0, 66, 237, 0.86);
  }
  .btn_text {
    margin: auto;
    font-family: Geometria Regular;
    font-size: 11px;
  }
  .btn:hover {
    border: 3px solid #FFDD9B;
    -webkit-box-shadow: 0 0 15px rgba(193, 128, 0, 0.86);
            box-shadow: 0 0 15px rgba(193, 128, 0, 0.86);
  }
}

#question, .btn {
  display: none;
}

#main-form {
  display: none;
}
/*# sourceMappingURL=style.css.map */