@font-face {
  font-family: 'Geometria Bold';
  src: url("/fonts/Geometria Bold/Geometria-Bold.eot");
  src: url("/fonts/Geometria Bold/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Geometria Bold/Geometria-Bold.woff") format("woff"), url("/fonts/Geometria Bold/Geometria-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria Regular';
  src: url("/fonts/Geometria Regular/Geometria.eot");
  src: url("/fonts/Geometria Regular/Geometria.eot?#iefix") format("embedded-opentype"), url("/fonts/Geometria Regular/Geometria.woff") format("woff"), url("/fonts/Geometria Regular/Geometria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin: 0;
  background-image: url("/img/bg4.png");
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 1440px) {
  #main-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 748px;
    height: 880px;
    margin: auto auto;
    background: #000000;
    border: 3px solid #8FF0FF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 20px rgba(0, 66, 237, 0.86);
            box-shadow: 0 0 20px rgba(0, 66, 237, 0.86);
  }
  #question {
    width: 730px;
    height: 94px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: Geometria Bold;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #E9FCFF;
  }
  #image img {
    width: 550px;
    margin-bottom: 25px;
  }
  .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-align: center;
    width: 600px;
    cursor: pointer;
    height: 70px;
    background: #000000;
    border: 3px solid #8FF0FF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0 0 15px rgba(0, 66, 237, 0.86);
            box-shadow: 0 0 15px rgba(0, 66, 237, 0.86);
  }
  .btn_text {
    margin: auto;
    font-family: Geometria Regular;
    font-size: 20px;
  }
  .btn:hover {
    border: 3px solid #FFDD9B;
    -webkit-box-shadow: 0 0 15px rgba(193, 128, 0, 0.86);
            box-shadow: 0 0 15px rgba(193, 128, 0, 0.86);
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  #main-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 646px;
    height: 670px;
    margin: auto auto;
    background: #000000;
    border: 3px solid #8FF0FF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 20px rgba(0, 66, 237, 0.86);
            box-shadow: 0 0 20px rgba(0, 66, 237, 0.86);
  }
  #question {
    width: 560px;
    height: 76px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: Geometria Bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #E9FCFF;
  }
  #image img {
    width: 414px;
    margin-bottom: 25px;
  }
  .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-align: center;
    width: 600px;
    cursor: pointer;
    height: 70px;
    background: #000000;
    border: 3px solid #8FF0FF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0 0 15px rgba(0, 66, 237, 0.86);
            box-shadow: 0 0 15px rgba(0, 66, 237, 0.86);
  }
  .btn_text {
    margin: auto;
    font-family: Geometria Regular;
    font-size: 18px;
  }
  .btn:hover {
    border: 3px solid #FFDD9B;
    -webkit-box-shadow: 0 0 15px rgba(193, 128, 0, 0.86);
            box-shadow: 0 0 15px rgba(193, 128, 0, 0.86);
  }
}

@media (min-width: 640px) and (max-width: 1279px) {
  #main-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 595px;
    height: 703px;
    margin: auto auto;
    background: #000000;
    border: 3px solid #8FF0FF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 20px rgba(0, 66, 237, 0.86);
            box-shadow: 0 0 20px rgba(0, 66, 237, 0.86);
  }
  #question {
    width: 560px;
    height: 94px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Geometria Bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #E9FCFF;
  }
  #image img {
    width: 484px;
    margin-bottom: 20px;
  }
  .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-align: center;
    width: 504px;
    cursor: pointer;
    height: 70px;
    background: #000000;
    border: 3px solid #8FF0FF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 15px rgba(0, 66, 237, 0.86);
            box-shadow: 0 0 15px rgba(0, 66, 237, 0.86);
  }
  .btn_text {
    margin: auto;
    font-family: Geometria Regular;
    font-size: 17px;
  }
  .btn:hover {
    border: 3px solid #FFDD9B;
    -webkit-box-shadow: 0 0 15px rgba(193, 128, 0, 0.86);
            box-shadow: 0 0 15px rgba(193, 128, 0, 0.86);
  }
}

@media (max-width: 639px) {
  #main-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 307px;
    height: 516px;
    margin: auto auto;
    background: #000000;
    border: 3px solid #8FF0FF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 20px rgba(0, 66, 237, 0.86);
            box-shadow: 0 0 20px rgba(0, 66, 237, 0.86);
  }
  #question {
    width: 280px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Geometria Bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #E9FCFF;
  }
  #image img {
    width: 274px;
    margin-bottom: 20px;
  }
  .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-align: center;
    width: 282px;
    cursor: pointer;
    height: 70px;
    background: #000000;
    border: 3px solid #8FF0FF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 15px rgba(0, 66, 237, 0.86);
            box-shadow: 0 0 15px rgba(0, 66, 237, 0.86);
  }
  .btn_text {
    margin: auto;
    font-family: Geometria Regular;
    font-size: 11px;
  }
  .btn:hover {
    border: 3px solid #FFDD9B;
    -webkit-box-shadow: 0 0 15px rgba(193, 128, 0, 0.86);
            box-shadow: 0 0 15px rgba(193, 128, 0, 0.86);
  }
}
/*# sourceMappingURL=style.css.map */