@media (min-width: 1440px)
    #main-form
        display: flex
        flex-direction: column
        align-items: center
        width: 748px
        height: 840px //изменил высоту!
        margin: auto auto
        
        background: #000000
        border: 3px solid #8FF0FF
        box-sizing: border-box
        border-radius: 20px
        box-shadow: 0 0 20px rgba(#0042ED,0.86) /* Параметры тени */
        
    #start-label
        width: 603px
        height: 50px
        font-family: Geometria
        font-size: 40px
        line-height: 50px
        color: #E9FCFF
        text-align: center
        text-shadow: 1px 1px 2px #0042ED, 0px 0px 10px #0042ED /* Параметры тени */
        margin: 50px auto

    #start-text
        width: 697px
        height: 175px 
        font-family: Geometria Regular
        font-size: 25px
        line-height: 35px
        text-align: center
        color: white
        margin: 30px auto

    #start-btn
        color: white
        background-color: white
        width: 370px
        height: 85px
        display: flex
        position: relative
        cursor: pointer
        &::after            
            background-image: url("/img/Button-pixels.png")
            background-repeat: no-repeat
            background-position: 0 0
            width: 70px
            height: 65px
            content: ""
            position: absolute
            top: -50px
            right: -30px

    .start-btn_text
        margin: auto
        font-family: Geometria Regular
        font-size: 23px
        line-height: 29px
        color: #06001F

    

    #question
        width: 730px
        height: 94px
        margin: 0 auto
        margin-top: 25px
        margin-bottom: 25px
        font-family: Geometria Bold
        font-size: 26px
        line-height: 30px
        text-align: center
        color: #E9FCFF

    #image img
        width: 550px
        margin-bottom: 25px

    .btn 
        display: flex
        color: #fff
        text-align: center
        width: 600px
        cursor: pointer
        height: 70px
        background: #000000
        border: 3px solid #8FF0FF
        box-sizing: border-box
        border-radius: 12px
        margin-bottom: 25px
        box-shadow: 0 0 15px rgba(#0042ED,0.86)
        &_text
            margin: auto
            font-family: Geometria Regular
            font-size: 20px
        &:hover
            border: 3px solid #FFDD9B
            box-shadow: 0 0 15px rgba(#C18000,0.86)