@font-face {
    font-family: 'Geometria Bold';
    src: url('/fonts/Geometria Bold/Geometria-Bold.eot');
    src: url('/fonts/Geometria Bold/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Geometria Bold/Geometria-Bold.woff') format('woff'),
    url('/fonts/Geometria Bold/Geometria-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Segoe UI Regular';
    src: url('/fonts/Segoe UI Regular/SegoeUI.eot');
    src: url('/fonts/Segoe UI Regular/SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Segoe UI Regular/SegoeUI.woff') format('woff'),
    url('/fonts/Segoe UI Regular/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Segoe UI Semibold';
    src: url('/fonts/Segoe UI SemiBold/SegoeUI-SemiBold.eot');
    src: url('/fonts/Segoe UI SemiBold/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Segoe UI SemiBold/SegoeUI-SemiBold.woff') format('woff'),
    url('/fonts/Segoe UI SemiBold/SegoeUI-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }