@font-face {
    font-family: 'Geometria Bold';
    src: url('/fonts/Geometria Bold/Geometria-Bold.eot');
    src: url('/fonts/Geometria Bold/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Geometria Bold/Geometria-Bold.woff') format('woff'),
    url('/fonts/Geometria Bold/Geometria-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
font-family: 'Geometria Regular';
src: url('/fonts/Geometria Regular/Geometria.eot');
src: url('/fonts/Geometria Regular/Geometria.eot?#iefix') format('embedded-opentype'),
url('/fonts/Geometria Regular/Geometria.woff') format('woff'),
url('/fonts/Geometria Regular/Geometria.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
    font-family: 'Geometria Medium';
    src: url('/fonts/Geometria Medium/Geometria-Medium.eot');
    src: url('/fonts/Geometria Medium/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Geometria Medium/Geometria-Medium.woff') format('woff'),
    url('/fonts/Geometria Medium/Geometria-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }