@media (orientation:landscape)
    #main-form
        display: flex
        flex-direction: column
        align-items: center
        align-content: center
        justify-content: space-around
        width: 79vh//72vh//35%//307px
        height: 90%//516px //изменил высоту!
        margin: auto auto
        background: #000000
        border: 3px solid #8FF0FF
        box-sizing: border-box
        border-radius: 20px
        box-shadow: 0 0 20px rgba(#0042ED,0.86) /* Параметры тени */
        
    #start-label
        width: 90%//300px
        //height: 35px
        font-family: Geometria Bold
        font-size: 3.5vh//22px
        line-height: 5vh//35px
        letter-spacing: 0.7vh
        color: #E9FCFF
        text-align: center
        text-shadow: 1px 1px 2px #0042ED, 0px 0px 10px #0042ED /* Параметры тени */
        margin: 0px auto

    #start-image
        width: 55%


    #start-text
        width: 90%//280px
        //height: 130px 
        font-family: Geometria Medium
        font-size: 2.5vh//16px
        line-height: 2.7vh//18px
        text-align: center
        color: white
        margin: 0 auto

    #start-btn
        color: white
        //background-color: white
        background-image: url("/img/s-btn.png")
        background-size: contain
        background-repeat: no-repeat
        background-position: center center
        width: 60%//250px
        height: 15%//60px
        display: flex
        position: relative
        cursor: pointer
        // margin-top: 30px
        &::after            
            background-image: url("/img/Button-pixels.png")
            background-repeat: no-repeat
            background-position: center center
            background-size: contain
            width: 7vw//25%//70px
            height: 8vh//60%//65px
            content: ""
            position: absolute
            top: -2.3vw//-40%//-50px
            right: -6.4vh//-10%//-25px

    .start-btn_text
        margin: auto
        font-family: Geometria Bold
        font-size: 2.5vh//20px
        line-height: 29px
        color: #06001F    
        text-align: center  

    #question 
        width: 90%//280px
        // height: 50px
        margin: 0 auto
        // margin-top: 20px
        // margin-bottom: 20px
        font-family: Geometria Bold
        font-size: 2.5vh//2.2vh//12px
        line-height: 2.8vh
        text-align: center
        color: #E9FCFF
        margin-top: 1%

    #image 
        display: flex
        
        img
            width: 59vh//29vw//90%//274px
            height: 33.2vh//16.3vw
            margin: 0 auto
            //margin-bottom: 5%//20px

    .btns
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        align-content: center
        width: 100%
        height: 43%  

    .btn 
        display: flex
        color: #fff
        text-align: center
        width: 80%//282px
        cursor: pointer
        height: 17%//70px
        background: #000000
        border: 3px solid #8FF0FF
        box-sizing: border-box
        border-radius: 12px
        // margin-bottom: 20px
        box-shadow: 0 0 15px rgba(#0042ED,0.86)
        &_text
            margin: auto
            font-family: Geometria Regular
            font-size: 2vh//11px
            line-height: 2vh 
        &:hover
            border: 3px solid #FFDD9B
            box-shadow: 0 0 15px rgba(#C18000,0.86)
    #btn4
        margin-bottom: 3%



    //3rd screen

    #ending-form
        display: flex 
        flex-direction: column 
        align-items: center
        align-content: center
        justify-content: center
        position: relative    
        height: 90%
        width: 79vh//72vh  

    .ending-form
        &-top
            position: relative
            display: flex
            height: 10%
            width: 79vh//72vh
            background-color: #000
            border: 3px solid #8FF0FF
            box-sizing: border-box
            border-top-left-radius: 20px
            border-top-right-radius: 20px
            box-shadow: 0 -5px 20px rgba(#0042ED,0.86) /* Параметры тени */
            &_text
                color: #ffffff
                margin: auto
                font-family: Geometria Medium
                font-size: 2.7vh//26px
                line-height: 2vw//33px
                letter-spacing: 0.2vh
        
        &-wrapper
            position: relative
            height: 80%

        &-result-wrapper
            padding-top: 7vh//80px
            padding-left: 3vw//78px

        &-bottom
            display: flex
            flex-direction: column
            align-items: center
            align-content: center
            justify-content: space-around
            height: 50%//408px
            //width: 849px
            width: 79vh//72vh
            background-color: #000
            border: 3px solid #8FF0FF
            box-sizing: border-box
            border-bottom-left-radius: 20px
            border-bottom-right-radius: 20px
            box-shadow: 0 15px 20px rgba(#0042ED,0.86) /* Параметры тени */
            margin: 0 auto
            margin-top: 45%//350px

            
        

    #ending-form-result
        
        //width: 888px
        width: 80.3vh//75vh
        height: 47vh//510%//540px
        background-image: url("/img/e1bg.png")
        background-size: cover
        background-repeat: no-repeat
        position: absolute
        top: 65%//-44px
        left: -1.5%//-20px
        z-index: -1

        &_role
            font-family: Geometria Bold
            font-size: 3.4vh//38px
            line-height: 3.4vh//38px
            color: #E9FCFF
            width: 35vh
            letter-spacing: 0.2vh
            
        &_description
            width: 40vh//391px
            //height: 133px
            font-family: Geometria Medium
            font-size: 2.2vh//22px
            line-height: 120%
            color: #FFFFFF
            margin-top: 10%//84px

        &_image
            position: absolute
            width: 37vh
            top: 15%//53px  
            right: 2%//50px
            z-index: -1
    
    .share-text
        width: 56vh//408px
        //height: 21px
        //margin-top: 21px
        text-align: center
        font-family: Geometria Regular
        font-size: 2vh//19px
        line-height: 2.3vh
        color: #5D5D5D

    .fb-btn
        width: 50px
        height: 50px
        background-image: url("/img/facebook.png")

    .share-btns
        display: flex
        flex-flow: row nowrap
        justify-content: center
        align-items: center
        align-content: center
        margin: -4vh 0

    .share-wrapper
        display: flex
        justify-content: center
        align-items: center
        align-content: center

    .share-icon
        width: 9vh
        cursor: pointer
        & img
            margin: 0 auto

    #future-role
        width: 90%
        text-align: center
        font-family: Geometria Medium
        font-size: 2.2vh
    
    .ending-text
        text-align: center
        font-family: Geometria Medium
        font-size: 2.2vh

    #ending-btn
        width: 46vh//58.7%
        height: 8vh
        color: #000000
        background-color: #fff
        display: flex
        justify-content: center
        align-items: center
        align-content: center
        margin-bottom: 3%
        &_text
            text-align: center
            font-family: Geometria Bold
            font-size: 2vh
            line-height: 2.3vh
            width: 35vh