html
    height: 100%
    margin: 0 

body
    color: white
    display: flex
    align-items: center
    align-content: center
    justify-content: center
    height: 100%
    margin: 0
    background-image: url('/img/bg.png')
    background-color: #000
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    box-sizing: border-box

main
    height: 100%
    width: 100%
    display: flex
    align-items: center
    align-content: center
    justify-content: center


.inv
    display: none