@media (orientation:portrait)
    #main-form
        display: flex
        flex-direction: column
        align-items: center
        align-content: center
        justify-content: space-around
        width: 95%
        height: 90%
        margin: auto auto
        background: #000000
        border: 3px solid #8FF0FF
        box-sizing: border-box
        border-radius: 20px
        box-shadow: 0 0 20px rgba(#0042ED,0.86) /* Параметры тени */
        
    #start-label
        width: 95%
        font-family: Geometria Medium
        font-size: 3.0vh
        line-height: 3.3vh
        color: #E9FCFF
        text-align: center
        text-shadow: 1px 1px 2px #0042ED, 0px 0px 10px #0042ED /* Параметры тени */
        margin: 0px auto
        margin-top: 2%

    #start-image
        width: 70%

    #start-text
        width: 95%
        font-family: Geometria Medium
        font-size: 2.0vh
        line-height: 2.7vh
        text-align: center
        color: white
        margin: 0 auto

    #start-btn
        color: white
        background-image: url("/img/s-btn.png")
        background-size: contain
        background-repeat: no-repeat
        background-position: center center
        width: 80%
        height: 15%
        display: flex
        position: relative
        cursor: pointer
        &::after   
            background-image: url("/img/Button-pixels.png")
            background-repeat: no-repeat
            background-position: center center
            background-size: contain
            width: 15vw
            height: 15vw
            content: ""
            position: absolute
            top: -5.0vh
            right: -7.4vw

    .start-btn_text
        margin: auto
        font-family: Geometria Bold
        font-size: 2.0vh
        line-height: 3vh
        color: #06001F    
        text-align: center  

    #question 
        width: 90%
        margin: 0 auto
        font-family: Geometria Bold
        font-size: 4vw
        line-height: 4vw
        text-align: center
        color: #E9FCFF

    #image 
        display: flex
        img
            width: 85vw
            height: 47.8vw
            margin: 0 auto

    .btns
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        align-content: center
        width: 100%
        height: 45%      

    .btn 
        display: flex
        color: #fff
        text-align: center
        width: 90%
        cursor: pointer
        height: 20%
        background: #000000
        border: 3px solid #8FF0FF
        box-sizing: border-box
        border-radius: 12px
        
        box-shadow: 0 0 15px rgba(#0042ED,0.86)
        &_text
            margin: auto
            font-family: Geometria Regular
            font-size: 3.2vw
        &:hover
            border: 3px solid #FFDD9B
            box-shadow: 0 0 15px rgba(#C18000,0.86)

    #btn4
        margin-bottom: 3%


    //3rd screen

    #ending-form
        display: flex 
        flex-direction: column 
        align-items: center
        align-content: center
        justify-content: center
        position: relative    
        height: 90%
        width: 95%

        #ending-fact_img
            display: none


    .ending-form
        &-top
            position: relative
            display: flex
            height: 10%
            width:  100%
            background-color: #000
            border: 3px solid #8FF0FF
            box-sizing: border-box
            border-top-left-radius: 20px
            border-top-right-radius: 20px
            box-shadow: 0 -5px 10px rgba(#0042ED,0.86) /* Параметры тени */
            &_text
                color: #ffffff
                margin: auto
                font-family: Geometria Medium
                font-size: 4vw
                line-height: 2vw
                letter-spacing: 0.45vw
        
        &-wrapper
            position: relative
            height: 80%

        &-result-wrapper
            padding-top: 6vh
            padding-left: 3vh

        &-bottom
            display: flex
            flex-direction: column
            align-items: center
            align-content: center
            justify-content: space-around
            height: 45%
            width: 100%
            background-color: #000
            border: 3px solid #8FF0FF
            box-sizing: border-box
            border-bottom-left-radius: 20px
            border-bottom-right-radius: 20px
            box-shadow: 0 15px 30px rgba(#0042ED,0.86) /* Параметры тени */
            margin: 0 auto
            margin-top: auto

            
        

    #ending-form-result
        width: 105%
        height: 60vh
        background-image: url("/img/bg1.png")
        background-size: contain
        background-repeat: repeat-y
        position: absolute
        top: 65%
        left: -2.5%
        z-index: -1

        &_role
            font-family: Geometria Bold
            font-size: 6.5vw
            line-height: 6.5vw
            color: #E9FCFF
            width: 92%
            
        &_description
            width: 55%
            font-family: Geometria Medium
            font-size: 3.6vw
            line-height: 4.6vw
            color: #FFFFFF
            margin-top: 4vh

        &_image
            position: absolute
            width: 48vw
            top: 17% 
            right: 1%
            z-index: -1
    
    .share-text
        width: 72vw
        text-align: center
        font-family: Geometria Medium
        font-size: 1.8vh
        line-height: 3vh
        color: #5D5D5D

    .fb-btn
        width: 50px
        height: 50px
        background-image: url("/img/facebook.png")

    .share-btns
        display: flex
        flex-flow: row nowrap
        margin-top: -4.5vh
        margin-bottom: -5vh

    .share-icon
        width: 70%
        cursor: pointer

    .share-wrapper
        display: flex
        justify-content: center
        align-items: center
        align-content: center

    #future-role
        width: 90%
        text-align: center
        font-family: Geometria Medium
        font-size: 3.5vw
    
    .ending-text
        text-align: center
        font-family: Geometria Medium
        font-size: 3.5vw
        margin-top: -1vh

    #ending-btn
        color: white
        background-image: url("/img/e-btn.png")
        background-size: contain
        background-repeat: no-repeat
        background-position: center center
        width: 80%
        height: 18%
        display: flex
        position: relative
        cursor: pointer
        &::after   
            background-image: url("/img/Button-pixels.png")
            background-repeat: no-repeat
            background-position: center center
            background-size: contain
            width: 15vw
            height: 15vw
            content: ""
            position: absolute
            top: -5.0vh
            right: -9.4vw  

        &_text
            margin: auto
            font-family: Geometria Bold
            font-size: 1.5vh
            line-height: 1.5vh
            color: #06001F    
            text-align: center      

    .loading
        &-label
            width: 90%
            margin: 0 auto
            font-family: Geometria Bold
            font-size: 2.5vh
            line-height: 2.8vh
            text-align: center
            color: #E9FCFF
            margin-top: 1%
        &-img
            width: 85vw
            height: 47.8vw

        &-text
            width: 90%
            margin: 0 auto
            font-family: Geometria Bold
            font-size: 2.5vh
            line-height: 2.8vh
            text-align: center
            color: #E9FCFF

        &-btn
            color: white
            background-image: url("/img/s-btn.png")
            background-size: contain
            background-repeat: no-repeat
            background-position: center center
            width: 80%
            height: 12%
            display: flex
            position: relative
            cursor: pointer
            &::after   
                background-image: url("/img/Button-pixels.png")
                background-repeat: no-repeat
                background-position: center center
                background-size: contain
                width: 15vw
                height: 15vw
                content: ""
                position: absolute
                top: -5.0vh
                right: -7.4vw

            &_text
                margin: auto
                font-family: Geometria Bold
                font-size: 2.5vh
                line-height: 2.5vh
                color: #06001F    
                text-align: center  

