@media (min-width: 640px) and (max-width: 1439px)
    #main-form
        display: flex
        flex-direction: column
        align-items: center
        width: 595px
        height: 550px //изменил высоту!
        margin: auto auto        
        background: #000000
        border: 3px solid #8FF0FF
        box-sizing: border-box
        border-radius: 20px
        box-shadow: 0 0 20px rgba(#0042ED,0.86) /* Параметры тени */
        
    #start-label
        width: 550px
        height: 50px
        font-family: Geometria Bold
        font-size: 35px
        line-height: 50px
        color: #E9FCFF
        text-align: center
        text-shadow: 1px 1px 2px #0042ED, 0px 0px 10px #0042ED /* Параметры тени */
        margin: 10px auto

    #start-text
        width: 580px
        height: 130px 
        font-family: Geometria Regular
        font-size: 18px
        line-height: 23px
        text-align: center
        color: white
        margin: 0 auto

    #start-btn
        color: white
        background-color: white
        width: 330px
        height: 60px
        display: flex
        position: relative
        cursor: pointer
        &::after            
            background-image: url("/img/Button-pixels.png")
            background-repeat: no-repeat
            background-position: 0 0
            width: 70px
            height: 65px
            content: ""
            position: absolute
            top: -50px
            right: -30px

    .start-btn_text
        margin: auto
        font-family: Geometria Regular
        font-size: 20px
        line-height: 29px
        color: #06001F    
        text-align: center   

    #question
        width: 560px
        height: 94px
        margin: 0 auto
        margin-top: 15px
        margin-bottom: 15px
        font-family: Geometria Bold
        font-size: 16px
        line-height: 15px
        text-align: center
        color: #E9FCFF

    #image img
        width: 440px
        margin-bottom: 10px

    .btn 
        display: flex
        color: #fff
        text-align: center
        width: 504px
        cursor: pointer
        height: 70px
        background: #000000
        border: 3px solid #8FF0FF
        box-sizing: border-box
        border-radius: 12px
        margin-bottom: 10px
        box-shadow: 0 0 15px rgba(#0042ED,0.86)
        &_text
            margin: auto
            font-family: Geometria Regular
            font-size: 15px
        &:hover
            border: 3px solid #FFDD9B
            box-shadow: 0 0 15px rgba(#C18000,0.86)
